p {
  font-family: Lato;
}
li{
  list-style:none;
  display: flexbox;
  color: aliceblue;
  
}
.Profile{
  margin:2px;
  padding:40px;
  height: 10px;
  width: 10px;
  size:28px ;
  color: azure;
  border:2px solid black;
  box-sizing: border-box;
border-radius: 40px;

}
.container{
  margin:1px;
  height: 80%;
  width:100%;

}