<div>
  <div class="Profile" >
    <img src="" alt=" "></div>


  <div>
    <ul class="nav justify-content-center">
   <div class="btn btn-primary"> <li class="nav-item"><a class="nav-link " href="#">Profile</a></li></div>
   <div> <li class="nav-item"><a class="nav-link " href ="#Contact">Contact</a></li></div>
    <div><li  class="nav-item"><a class= "nav-link" href="#About">About</a></li></div>        
    </ul>
  </div>
  <hr>

  <div class="">
    
    {{ Name }}
    
  </div>
<div class="container">

<button type="button" class="btn btn-primary">submit</button>

</div>

<div class="container"  id="#">
  

</div>
<hr>
<div style="background-color:block";>
  <p>hdhhchxjdjxjx</p>
  
</div>