<div>
  <div class="Profile" >
    <i class="fa fa-user"></i>
  </div>

  <div>
    <ul class="nav justify-content-center">
   <div> <li class="nav-item"><a class="btn btn-primary " href="#">Profile</a></li></div><br>
   <div> <li class="nav-item"><a class="btn btn-primary" href ="#Contact">Contact</a></li></div><br>
    <div><li  class="nav-item"><a class= "btn btn-primary" href="#About"> About</a></li></div>    <br>    
    </ul>
  </div>
  


  <div class="#" id="#">
    
  
    
  </div>
<div class="container" id="#Contactn">



</div>

<div class="container"  id="#About">
  

</div>

<div style="background-color:block";>
</div>