<div>
  <div class="Profile" >
    <img src="" alt=" ">

</div>
  <div>
    <ul class="nav justify-content-center">
   <div> <li class="nav-item"><a class="nav-link " href="#">Profile</a></li></div>
   <div> <li class="nav-item"><a class="nav-link " href ="#Contact">Contact</a></li></div>
    <div><li  class="nav-item"><a class= "nav-link" href="">About</a></li></div>        
    </ul>
  </div>
  <div class="container card">
    {{ Name }}
  </div>
<div class="container">

<div><button type="button" class="btn btn-primary">submit</button></div>
</div>
<div class="card " id="#">
  

</div>
<hr>
<div style="background-color:block";>
  
</div>